#!/usr/bin/make -f

%:
	dh $@

SLF4J_VERSION = 1.7.7
SLF4J = slf4j-$(SLF4J_VERSION)

override_dh_auto_build:
	./gradlew jar
# download slf4j-simple JAR library needed for
# bin/kafka-console-consumer.sh script to work
	curl --fail --show-error --location \
	    --output $(SLF4J).tar.gz \
	    'http://www.slf4j.org/dist/$(SLF4J).tar.gz'
	tar xf $(SLF4J).tar.gz
	install -m 644 $(SLF4J)/slf4j-simple-$(SLF4J_VERSION).jar \
	    core/build/dependant-libs-2.8.0/
	rm -rf $(SLF4J) $(SLF4J).tar.gz

# Do not install init script automatically
override_dh_installinit:

DESTDIR = debian/kafka
DMN_DESTDIR = debian/kafka-daemon
override_dh_auto_install:
	install -m 755 -d $(DESTDIR)/etc/kafka
	install -m 644 config/*.properties $(DESTDIR)/etc/kafka
	install -m 755 -d $(DESTDIR)/usr/lib/kafka
	for i in `ls | grep -vE config\|debian\|perf\|examples\|gradle\|system_test`; do \
	    cp -r $$i $(DESTDIR)/usr/lib/kafka || exit $$?; \
	    done
	find $(DESTDIR)/usr/lib/kafka -type f -a \
	    \( -name \*.java -o -name \*.class -o \
	    -name \*.scala -o -name \*.gradle -o -name \*.MF -o -name \*.html \) \
	    -print -delete
	for i in `seq 10`; do \
	    find $(DESTDIR) -type d -empty -print -exec rmdir '{}' ';' || :; \
	    done
	find $(DESTDIR)/usr/lib/kafka -type f -a \
	    \( -name README\* -o -name LICENSE -o -name NOTICE -o -name HEADER \) \
	    -print -delete || :
	find $(DESTDIR)/usr/lib/kafka -type d -a \
	    \( -name test -o -name src -o -name tmp \) \
	    -print -exec rm -rf '{}' ';' || :
	ln -s /etc/kafka $(DESTDIR)/usr/lib/kafka/config
	ln -s /var/log/kafka $(DESTDIR)/usr/lib/kafka/logs
	sed -i 's#/tmp/zookeeper#/var/lib/kafka/zookeeper#' $(DESTDIR)/etc/kafka/zookeeper.properties
	sed -i 's#/tmp/kafka-logs#/var/lib/kafka/logs#' $(DESTDIR)/etc/kafka/server.properties
	install -m 755 -d $(DESTDIR)/var/lib/kafka $(DESTDIR)/var/log/kafka
# install init script manually
	install -m 755 -d $(DMN_DESTDIR)/etc/init.d
	install -m 755 debian/init $(DMN_DESTDIR)/etc/init.d/kafka
